<%= form_with model: @user do |f| %>
  <%= label_tag(:username, "Name") %>
  <%= f.text_field :username %>
  <%= label_tag(:name, "Email") %>
  <%= f.text_field :email %>

  <% Role.all.each do |r| %>
	  <p>
		<label for="role_id_<%= r.id %>"><%= r.role_name %></label>
		<input type="checkbox" name="user[role_ids][]" value="<%= r.id %>">
	  </p>
  <% end %>

  <%= label_tag(:name, "Password") %>
  <%= f.text_field :password_digest %>
  <%= f.submit "Create" %>
<% end %>
